.custom-carousel {
    width: 50%;
    margin: auto;
  }
  
  .custom-carousel img {
    max-width: 100%;
  }
  
  .custom-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
  }
  
  
  @media (orientation: portrait) {
    .custom-carousel {
      width: 100%; 
    }

    .custom-caption{
        width: 80%;
        max-height: 100%;
    }
  }
